{{ define "main" }}
  
<section>
  <div class="listpage-title">
    {{ .Title }}
  </div>
  <div class="listpage-summary">
    {{ .RawContent }}
  </div>
</section>

<section>
  {{ range .Pages.GroupByDate "2006" }}
  <div class="listpage-item">
    <div class="listpage-item-year">
      {{ .Key }}
    </div>

    {{ range .Pages }}
      <div class="listpage-item-entry">
          <div class="listpage-item-entry-date">
            {{ .Date.Format "Jan 02" }}
          </div>
          <div class="listpage-item-subentry">
              <a href="{{ .RelPermalink }}">
                {{ .LinkTitle }}
              </a>
              <div class="listpage-item-subentry-summary">
                {{ .Params.summary }}
              </div>
          </div>
      </div>
    {{ end }}
  </div>
  {{ end }}
</section>
{{ end }}