{{ define "main" }}
<article>
  <h1>{{ .Title }}</h1>

  {{/* Published date */}}
  <div class="article__date">
    {{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
    {{ $dateHuman := .Date | time.Format site.Params.dateFormat }}
    <time datetime="{{ $dateMachine }}">
      {{ $dateHuman }}
    </time>
  </div>
  
  {{/* Article Summary */}}
  {{ if and .Site.Params.enableSummary .Params.summary }}
    <div class="article__summary">
      <span style="font-weight: bold;">Summary:</span> {{ .Params.summary }}
    </div>
  {{ end }}

  {{/* Article Series */}}
  {{- if .Params.series -}}
    <div class="article__series">
      {{- with index (.GetTerms "series") 0 -}}
        <p>&#9432; This article belongs to the  the <a href="{{ .Permalink }}" style="font-weight: bold">{{ .LinkTitle }}</a> series.</p>
      {{- end -}}
    </div>
  {{- end -}}

  {{ .Content }}

</article>
{{ end }}
