:root {
    --foreground: #F5F5F1;
    --fade: #D8DEE9;
    --background: #2E3440;
    --subtle: #434C5E;
    --salient: #EBCB8B;
    --salient-second:color-mix(in srgb, var(--salient), transparent 85%);
}