/* Footer */
footer {
    margin: 3rem 0 1rem 0;
}

/* Menu */
menu {
    display: flex;
    justify-content: center;
}

menu a {
    margin: 1rem;
    text-decoration: none;
    transition: all 0.3s ease;
}
  
menu a:hover{
    color: var(--primary);
    text-decoration: underline;
}
  
/* Social Media */
.social-media {
    display: flex;
    align-items: center; 
    justify-content: center;
}

.social-media a{
    display: flex;
    margin: 1rem; 
    transition: all 0.3s ease;
}

.social-media a:hover{
    fill: var(--primary);
}
 
/* Footer Content */
.footer-content {
    display: flex;
    justify-content: center;
}

@media (max-width: 768px) {
    menu a, .footer-content {
        font-size: 0.9rem;
    }
}
  