footer {
    margin: 3rem 0 1rem 0;
  }
  
  .footer-content {
    display: flex;
    justify-content: center;
    font-size: 0.8rem;
  }
  
  .footer-content p {
    margin: .8rem 1rem;
  }
  
  @media (max-width: 768px) {
    menu a {
        font-size: 0.9rem;
    }
  }