/* Universal reset and box-sizing rule */
*,
*::before,
*::after {
    margin: 0;                /* Remove default margin */
    padding: 0;               /* Remove default padding */
    box-sizing: border-box;   /* Include padding and border in the element's total width and height */
}

/* Scroll */
html {
    scroll-behavior: smooth;  /* Smooth scrolling */
}

/* Page Structure */
body {
    max-width: 768px;
    margin: 0 auto;
    padding: 1rem;
    font-family: "Bricolage Grotesque", sans-serif;
    background: var(--background);
    color: var(--foreground);
    line-height: 1.6;
    font-size: 16px;
    counter-reset: h2-counter; /* Typo heading counter */
  }
  
main {
    margin: 1rem 0;
}
  