/* ========== Universal reset and box-sizing rule ========== */
*,
*::before,
*::after {
  margin: 0;                /* Remove default margin */
  padding: 0;               /* Remove default padding */
  box-sizing: border-box;   /* Include padding and border in the element's total width and height */
}

/* ========== Scroll ========== */
html {
  scroll-behavior: smooth;  /* Smooth scrolling */
}

/* ========== Page Structure ========== */
body {
    max-width: 768px;
    margin: 2rem auto 0;
    padding: 1rem;
    font-family: "Bricolage Grotesque", -apple-system, sans-serif;
    font-variation-settings: "opsz" 14, "wght" 300, "wdth" 100;
    line-height: 1.6;
    font-size: 16px;
    background: var(--background);
    color: var(--foreground);
    counter-reset: h2-counter; /* Typo heading counter */
  }