.homepage-hero {
  display: flex;
  justify-content: center;
  margin: 13rem auto 5rem auto;
}
  
.homepage-hero-avatar {
  width: 210px;
  height: 210px;
  position: relative;
}
  
.homepage-hero-image {
  position: absolute;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  animation: morph 8s ease-in-out infinite;
  background-blend-mode: multiply;
  background-color: white;
}
  
.homepage-hero-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: inherit;
}
  
@keyframes morph {
  0% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }
  50% {
    border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
  }
  100% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }
} 
  
.homepage-hero-area {
  margin: 0 0 0 5rem;
  display: flex;
  flex-direction: column;
}
  
.homepage-hero-area-name {
  margin: 1rem 0;
  font-variation-settings: "opsz" 96, "wght" 800, "wdth" 75;
  font-size: 5rem;
  line-height: normal;
}
  
.homepage-hero-area-summary {
  font-style: italic;
  max-width: 450px;
  color: var(--fade);
}
  
@media (max-width: 768px) {
  .homepage-hero {
    flex-direction: column;
    text-align: center;
    margin: 3rem auto 3rem;
  }
  .homepage-hero-avatar {
    margin: 0 auto;
  }
  .homepage-hero-area {
    margin: 1rem auto;
  }
}