.listpage-title {
    font-size: 2.5rem;
    font-variation-settings: "opsz" 96, "wght" 500, "wdth" 75;
    text-align: left;
  }
  
.listpage-summary {
    color: var(--foreground); 
}
  
.listpage-item {
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
  }
  
.listpage-item-year {
    font-size: 1.5rem;
    font-variation-settings: "opsz" 96, "wght" 500, "wdth" 100;
    border-bottom: 1.5px dotted var(--foreground);
  }
   
.listpage-item-entry-date {
    width: 4rem;
    margin: 0 1rem 0 0;
    justify-content: top;
}

.listpage-item-entry {
    display: flex;
    margin: 0.3rem 0;
}
  
.listpage-item-entry a {
    color: var(--foreground);
    margin: .2rem 0;
    text-decoration: none;
    font-variation-settings: "opsz" 96, "wght" 500, "wdth" 100;
}
  
.listpage-item-entry a:hover {
    color: var(--salient);
    text-decoration: underline;
}

.listpage-item-subentry-summary {
    color: var(--fade);
    font-size: 0.9rem;
    font-style: italic;
}