/* #region ========== Global Styles ========== */
/* Universal reset and box-sizing rule */
*,
*::before,
*::after {
    margin: 0;                /* Remove default margin */
    padding: 0;               /* Remove default padding */
    box-sizing: border-box;   /* Include padding and border in the element's total width and height */
}

/* Scroll */
html {
    scroll-behavior: smooth;  /* Smooth scrolling */
}
/* #endregion */

/* #region ========== Page Structure ========== */
body {
  font-family: "Bricolage Grotesque", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "PingFang SC", "Microsoft YaHei", "Noto Sans CJK", sans-serif;
  background: var(--background);
  color: var(--foreground);
  line-height: 1.6;
  font-size: 16px;
}

.container {
  max-width: 900px;
  margin: 1rem auto;
  padding: 1rem;
  width: 100%;
}

@media (max-width: 768px) {
  .container {
      padding: 0.8rem;
  }
}

main {
  margin: 1rem 0;
  padding: 0;
}

footer {
  margin: 1rem 0;
  padding: 0;
  text-align: center;
  font-size: 0.9rem;
  font-variation-settings: "wght" 200;
  color: var(--foreground-alpha);
}
/* #endregion */

/* #region ========== Typography ========== */
h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.4;
    margin: 1.5rem 0 1rem 0;
}

h1 {
    font-size: 2.25rem;
    font-variation-settings: "wght" 700;
}

h2 {
    font-size: 1.75rem;
    font-variation-settings: "wght" 600;
}

h3 {
    font-size: 1.5rem;
    font-variation-settings: "wght" 500;
}

h4 {
    font-size: 1.25rem;
    font-variation-settings: "wght" 400;
}

h5 {
    font-size: 1.125rem;
    font-variation-settings: "wght" 400;
}

h6 {
    font-size: 1rem;
    font-variation-settings: "wght" 400;
}

p {
    margin-bottom: 1rem;
    font-variation-settings: "wght" 300;
}

@media (max-width: 768px) {
    h1 {
        font-size: 1.8rem;
    }
    h2 {
        font-size: 1.5rem;
    }
}
/* #endregion */

/* #region ========== Misc ========== */
hr {
  border: .5px solid var(--foreground-alpha);
  height: auto;
  text-align: center;
  margin: 0;
}

a {
  color: var(--theme);
  text-decoration: underline;
  text-underline-offset: 0.1rem;
  text-decoration-thickness: 0.05rem;
  font-variation-settings: "wght" 300;
  word-wrap: break-word;
}

.not-found {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Selection styling */
::selection {
  background-color: var(--theme-alpha);
  color: var(--theme);
}
/* #endregion */

/* #region ========== Header ========== */
header {
  margin-bottom: 1rem;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.header-title {
  margin: 0;
  padding: 0;
  border-radius: 4px;
  font-size: 2.5rem;
  font-variation-settings: "wght" 300, "wdth" 75;
  color: var(--theme);
  text-decoration: underline overline;
  text-decoration-style: wavy;
  text-underline-offset: 0.4rem;
  text-decoration-thickness: 0.2rem;
}

.header-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* Menu (Desktop Default) */
menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
  padding: 0;
}

menu a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  margin: 0;
  padding: 0.5rem;
  font-size: 1.25rem;
  line-height: 1; /* reset to 16px to calculate the font size */
  font-variation-settings: "wght" 300, "wdth" 75;
}

menu a:hover {
  background-color: var(--theme-alpha);
  color: var(--theme);
  border-radius: 0.25rem;
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Hamburger Menu Button */
#menu-toggle {
  display: none;
  color: var(--foreground);
}

/* Responsive Menu (Mobile) */
@media (max-width: 768px) {
  #menu-toggle {
      display: inline-block;
      margin: 0;
      padding: 0.5rem;
      background: none;
      border: none;
      font-size: 1.5rem;
      cursor: pointer;
  }

  menu {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 5.3rem;
      right: 1rem;
      background: var(--background);
      padding: 0.5rem;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
      border-radius: 4px;
      opacity: 0;
      transform: translateY(-10px);
      transition: opacity 0.3s ease, transform 0.3s ease;
  }

  menu.show {
      display: flex;
      opacity: 1;
      transform: translateY(0);
  }

  menu a {
      display: block;
      text-align: right;
      margin: 0;
      padding: 0.5rem;
      width: 100%; /* Fill the container */
  }
}

/* Hamburger Menu Button Hover Effect */
#menu-toggle:hover {
  background-color: var(--theme-alpha);
  color: var(--theme);
  border-radius: 0.25rem;
  transition: background-color 0.3s ease, color 0.3s ease;
}
/* #endregion */

/* #region ========== Post ========== */
article {
  max-width: var(--page-width);
} 

.summary p {
    margin-bottom: 1rem;
    font-variation-settings: "wght" 200;
    color: var(--foreground-alpha); 
}

.post-meta {
  margin-bottom: 1rem;
  color: var(--foreground-alpha);
  font-variation-settings: "wght" 200;
}

.post-tags a {
  margin-right: 0.3rem;
}

.series {
  margin: 1.5rem 0;
  padding: 0;
  background-color: var(--theme-alpha);
  border-radius: 4px;
}

.series p {
  margin: 0;
  padding: 0.5rem;
  color: var(--foreground-alpha);
}
/* #endregion */

/* #region ========== Taxonomies Page ========== */
.year-heading {
  border-bottom: 1px dotted var(--foreground);
}

.post-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}

.post-date {
  margin: 0;
  white-space: nowrap;
}
/* #endregion */