

/* #region ========== Personal Info Card ========== */
#personal-info {
  margin: 15rem auto 5rem auto;
  display: flex;
  justify-content: center;
}

.info-card {
  display: flex;
  align-items: center;
}

.info-card__avatar {
  min-width: 180px;
  min-height: 180px;
  position: relative;
  border-radius: 100%;
}

 .info-card__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  animation: morph 8s ease-in-out infinite;
  background-blend-mode: multiply;
}

.info-card__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: inherit;
}

@keyframes morph {
  0% {
		border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }
	50% {
		border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
	}
	100% {
		border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
	}
} 

.info-card__text {
  margin: 0 0 0 5rem;
  display: flex;
  flex-direction: column;
}

.info-card__name {
  margin: 1rem 0 1rem 0;
  font-variation-settings: "opsz" 96, "wght" 600, "wdth" 75;
  font-size: 5rem;
  line-height: normal;
  color: var(--theme);
}

.info-card__summary {
  font-style: italic;
  max-width: 450px;
  color: var(--foreground-alpha)
}

@media (max-width: 768px) {
  #personal-info {
    margin: 5rem auto 5rem auto;
  }
  .info-card {
    flex-direction: column;
		text-align: center;
  }
  .info-card__text {
    margin: 2rem auto 2rem 0;
  }
}
/* #endregion */

/* #region ========== Typography ========== */
h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.4;
    margin: 1.5rem 0 1rem 0;
}

h1 {
    font-size: 2.25rem;
    font-variation-settings: "wght" 700;
}

h2 {
    font-size: 1.75rem;
    font-variation-settings: "wght" 600;
}

h3 {
    font-size: 1.5rem;
    font-variation-settings: "wght" 500;
}

h4 {
    font-size: 1.25rem;
    font-variation-settings: "wght" 400;
}

h5 {
    font-size: 1.125rem;
    font-variation-settings: "wght" 400;
}

h6 {
    font-size: 1rem;
    font-variation-settings: "wght" 400;
}

p {
    margin: 1rem 0;
    font-variation-settings: "wght" 300;
}

@media (max-width: 768px) {
    h1 {
        font-size: 1.8rem;
    }
    h2 {
        font-size: 1.5rem;
    }
}
/* #endregion */

/* #region ========== Footer and Menu ========== */

#social-media {
  display: flex;
  align-items: center; 
  justify-content: center;
}

.social-media__divider {
  flex: 1;
  height: 2px;
  background-color: var(--theme); 
  max-width: 100%;
}

.social-media__icon {
  display: flex;
  justify-content: center;
  margin: 0 1rem; 
}

.social-media__icon a{
  display: flex;
  margin: 0.5rem; 
}

#footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#footer-content__info {
  display: flex;
  flex-direction: column;
  padding: 0;
  color: var(--foreground-alpha);
  align-items: left;
  font-variation-settings: "wght" 300, "wdth" 75;
}

menu {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

menu a {
  text-decoration: none;
  color: var(--foreground);
  font-variation-settings: "wght" 300, "wdth" 75;
}

menu a:hover{
  color: var(--theme);
}

.menu-item {
  display: flex;
}
/* #endregion */

/* #region ========== Misc ========== */
hr {
  border: .5px solid var(--foreground-alpha);
  height: auto;
  text-align: center;
  margin: 0;
}

a {
  color: var(--theme);
  text-decoration: underline;
  text-underline-offset: 0.1rem;
  text-decoration-thickness: 0.05rem;
  font-variation-settings: "wght" 300;
  word-wrap: break-word;
}

.not-found {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Selection styling */
::selection {
  background-color: var(--theme-alpha);
  color: var(--theme);
}
/* #endregion */

/* #region ========== Post ========== */
article {
  max-width: var(--page-width);
} 

.summary p {
    margin-bottom: 1rem;
    font-variation-settings: "wght" 200;
    color: var(--foreground-alpha); 
}

.post-meta {
  margin-bottom: 1rem;
  color: var(--foreground-alpha);
  font-variation-settings: "wght" 200;
}

.post-tags a {
  margin-right: 0.3rem;
}

.series {
  margin: 1.5rem 0;
  padding: 0;
  background-color: var(--theme-alpha);
  border-radius: 4px;
}

.series p {
  margin: 0;
  padding: 0.5rem;
  color: var(--foreground-alpha);
}
/* #endregion */

/* #region ========== Taxonomies Page ========== */
.year-heading {
  border-bottom: 1px dotted var(--foreground);
}

.post-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}

.post-date {
  margin: 0;
  white-space: nowrap;
}
/* #endregion */

/* #region ========== BLock Quote ========== */
blockquote {
  margin: 1.5rem 0;
  padding: 0;
  border-left: 4px solid var(--theme);
  background-color: var(--theme-alpha);
}

blockquote p {
  margin: 0;
  padding: 0.5rem;
  color: var(--foreground-alpha);
  font-style: italic;
}
/* #endregion */

/* #region ========== Code ========== */
/* Code block */
pre {
  margin: 1rem 0;
  padding: 1rem;
  border-radius: 4px;
  overflow: auto;
  line-height: 1.3rem;
  scrollbar-width: none;  /* hide scrollbar for Firefox */
}

pre::-webkit-scrollbar {
  display: none;  /* hide scrollbar for WebKit-based browsers */
}

code {
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 2px;
  border-radius: 4px;
}

code span {
  display: inline !important;
  font-size: 0.8rem;
}

/* Inline Code */
p code {
  background-color: var(--theme-alpha);
  color: var(--theme);
  font-size: 0.8rem;
}
/* #endregion */

/* #region ========== Footnotes ========== */
/* Footnotes Container */
.footnotes {
  margin: 1rem;
  padding: 0;
  border-style: none;
}

/* Ordered List in Footnotes */
.footnotes ol {
  color: var(--foreground-alpha);
}

/* Paragraphs Inside Footnotes */
.footnotes p {
  margin: 0;
}

/* Horizontal Rule in Footnotes */
.footnotes hr {
  border: none;
  margin: 1rem 0;
  text-align: center;
  line-height: 0.5;
}

.footnotes hr::before,
.footnotes hr::after {
  content: '//////////';
  font-size: 1.5rem;
  color: var(--foreground-alpha);
}

.footnotes hr::before {
  margin-right: 0.5rem;
}

.footnotes hr::after {
  margin-left: 0.5rem;
}

/* Footnote Reference */
.footnote-ref {
  text-decoration: none;
  font-size: 1rem;
  margin: 0.2rem;
}

/* Footnote Back Reference */
.footnote-backref {
  font-size: 1rem;
  text-decoration: none;
}
/* #endregion */

/* #region ========== List ========== */
ol {
  margin: 0 1rem;
  padding: 0 0.5rem;
  font-variation-settings: 'wght' 300;
}
  
ul {
  margin: 0 1rem;
  padding: 0 0.5rem;
  font-variation-settings: 'wght' 300;
}
  
li {
  margin: 0;
  padding: 0;
}
/* #endregion */

/* #region ========== Table ========== */
table {
  border-collapse: collapse;
  margin: 1rem 0;
}

th, td {
  padding: .5rem;
  border: 1px solid var(--foreground);
  text-align: center !important;
}

th {
  background-color: var(--theme-alpha);
  color: var(--theme);
}

table code {
  border-radius: 3px;
  padding: 2px;
}
/* #endregion */