body {
  color: var(--foreground);
  background-color: var(--background);
  font-family: sans-serif;
  line-height: 1.5;
  margin: 1rem;
  max-width: 768px;
}

.container {
  max-width: 900px;
  margin: 1rem auto;
  padding: 1rem;
  width: 100%;
}

@media (max-width: 768px) {
  .container {
      padding: 0.8rem;
  }
}

header {
  border-bottom: 1px solid #222;
  margin-bottom: 1rem;
}

footer {
  border-top: 1px solid #222;
  margin-top: 1rem;
  color: var(--foreground-alpha);
}

a {
  color: var(--theme);
  text-decoration: none;
}
