/* Taxonomies (List) Page */
#list-info {
  display: flex;
  flex-direction: column;
}

#list-info h1 {
  text-align: left;
}

.list-info__summary p {
  margin: 0;
  font-style: italic;
  font-variation-settings: "opsz" 14, "wght" 200, "wdth" 100;
  color: var(--foreground-fade); 
  line-height: 1.5;
}

#list-item {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
}

.list-entry {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
}

.list-entry__year {
  font-size: 1.5rem;
  font-variation-settings: "opsz" 14, "wght" 500, "wdth" 100;
  border-bottom: 1.5px dotted var(--foreground-fade);
}
  
.list-entry__title {
  display: flex;
  justify-content: space-between;
}

.list-entry__title a {
  color: var(--foreground);
  margin: .2rem 0;
  text-decoration: none;
  transition: all 0.3s ease;
  font-variation-settings: "opsz" 14, "wght" 200, "wdth" 100;
}

.list-entry__title a:hover {
  color: var(--primary);
  text-decoration: underline;
}

.list-entry__date {
    margin: 0;
    white-space: nowrap;
}