/*  Typography */
h1 {
    font-size: 2rem;
    font-variation-settings: "opsz" 14, "wght" 500, "wdth" 75;
    text-align: center;
}

h2 {
    counter-increment: h2-counter;  /* Each time the h2 increases by 1. */
    counter-reset: h3-counter;      /* Reset h3 count when new h2 appears */
    margin: 2rem 0 0 -5%;
    padding: 1rem 0 0 5%;
    border-bottom: 1.5px solid var(--foreground-fade);
    font-variation-settings: "opsz" 14, "wght" 400, "wdth" 100;
}

h2::before {
    content: counter(h2-counter);
    color: var(--background);
    background: var(--foreground);
    margin: 0 1rem 0 0;
    padding: .4rem;
}

h3 {
    font-variation-settings: "opsz" 14, "wght" 300, "wdth" 100;
    counter-increment: h3-counter; 
    margin: 1rem 0 0 -5%;
    padding: 1rem 0 0 5%;
}

h3::before {
    content: counter(h2-counter) "." counter(h3-counter);
    margin: 0 1rem 0 0;
}

p {
    margin: 1rem 0;
}

/* #region ========== Misc ========== */
hr {
    border: 1px dotted var(--foreground-alpha);
  }
  
a {
    color: var(--primary);
    text-decoration: underline;
    text-underline-offset: 0.1rem;
    text-decoration-thickness: 0.05rem;
    font-variation-settings: "wght" 300;
    word-wrap: break-word;
}


  /* Selection styling */
::selection {
    background-color: var(--primary-fade);
    color: var(--primary);
  }

  /* #region ========== Block Quote ========== */
blockquote {
    margin: 1rem 0;
    padding: 0 2rem;
    position: relative;
}

blockquote::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 1.5rem;
    height: 1.5rem;
    mask: url('/svg/quote-up.svg') center / contain no-repeat;
    -webkit-mask: url('/svg/quote-up.svg') center / contain no-repeat;
    background-color: var(--foreground-fade);
}

blockquote p {
    color: var(--foreground-fade);
    font-style: italic;
}
/* #endregion */

/* #region ========== Code ========== */
/* Code block */
pre {
    margin: 1rem 0;
    padding: 1rem;
    border-radius: 4px;
    overflow: auto;
    line-height: 1.3rem;
    scrollbar-width: none;  /* hide scrollbar for Firefox */
    background-color: var(--background);
}
  
pre::-webkit-scrollbar {
    display: none;  /* hide scrollbar for WebKit-based browsers */
}
  
code {
    -webkit-font-smoothing: antialiased;
    margin: 0;
    padding: 2px;
    border-radius: 4px;
}
  
code span {
    display: inline !important;
    font-size: 0.8rem;
}
  
/* Inline Code */
p code {
    background-color: var(--primary-fade);
    color: var(--primary);
    font-size: 0.8rem;
}
/* #endregion */

/* #region ========== Footnotes ========== */
/* Footnotes Container */
.footnotes {
    margin: 1rem 0;
}

/* Horizontal Rule in Footnotes */
.footnotes hr {
    margin: 1rem 0;
    text-align: center;
    line-height: 0.3;
}
  
.footnotes hr::before,
.footnotes hr::after {
    content: '//////////';
    font-size: 1.5rem;
    color: var(--foreground-fade);
    margin: 0 0.5rem;
}
  
/* Ordered List in Footnotes */
.footnotes ol {
    color: var(--foreground-fade);
}
  
/* Paragraphs Inside Footnotes */
.footnotes p {
    margin: 0;
}

/* Footnote Reference */
.footnote-ref {
    margin: 0.2rem;
}

/* Footnote Back Reference */
.footnote-backref {
    font-size: 0.8rem;
    text-decoration: none;
}
/* #endregion */

/* #region ========== List ========== */
ol, ul {
    padding: 0 1.5rem;
}
/* #endregion */