/*  Typography */
h1 {
    font-size: 2rem;
    font-variation-settings: "opsz" 14, "wght" 500, "wdth" 75;
    text-align: center;
}

h2 {
    counter-increment: h2-counter;  /* Each time the h2 increases by 1. */
    counter-reset: h3-counter;      /* Reset h3 count when new h2 appears */
    margin: 2rem 0 0 -5%;
    padding: 1rem 0 0 5%;
    border-bottom: 1.5px solid var(--foreground-fade);
    font-variation-settings: "opsz" 14, "wght" 400, "wdth" 100;
}

h2::before {
    content: counter(h2-counter);
    color: var(--background);
    background: var(--foreground);
    margin: 0 1rem 0 0;
    padding: .4rem;
}

h3 {
    font-variation-settings: "opsz" 14, "wght" 300, "wdth" 100;
    counter-increment: h3-counter; 
    margin: 1rem 0 0 -5%;
    padding: 1rem 0 0 5%;
}

h3::before {
    content: counter(h2-counter) "." counter(h3-counter);
    margin: 0 1rem 0 0;
}

p {
    margin: 1rem 0;
    font-variation-settings: "opsz" 14, "wght" 200, "wdth" 100;
}

/* #region ========== Misc ========== */
hr {
    border: 1px dotted var(--foreground-alpha);
  }
  
a {
    color: var(--primary);
    text-decoration: underline;
    text-underline-offset: 0.1rem;
    text-decoration-thickness: 0.05rem;
    font-variation-settings: "wght" 300;
    word-wrap: break-word;
}


  /* Selection styling */
::selection {
    background-color: var(--primary-fade);
    color: var(--primary);
  }
